.course-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.course-description {
  display: flex;
  flex-direction: column;
}

.course-description h4 {
  padding-top: 0.5rem 0;
}

.course-description hr {
  margin: 2rem 0 0.5rem 0;
}

.course-description h3 {
  margin: 1rem 0 0 0;
}
