h2 {
  color: var(--primary-color);
}

strong {
  color: var(--secondary-color);
}

p {
  margin: 10px 0;
}
.search-container {
  display: flex;
  margin: 20px 0 0;
}

.search-container input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ddd;
}

.search-button {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: var(--secondary-color);
}

/* s */
.course-list {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.course-container {
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.course-container:hover {
  background-color: #f5f5f5;
}

.course-header {
  margin-bottom: 10px;
}

.course-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.course-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-expand-details {
  max-height: 0;
  overflow: hidden;
  margin-top: 10px;
  transition: max-height 0.3s ease;
}

.course-container.active .course-expand-details {
  max-height: 1000px; /* Adjust the value based on your content */
  transition: max-height 0.3s ease;
}
/* 
.register-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: var(--secondary-color);
}
.back-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-link:hover {
  background-color: var(--secondary-color);
} */

.register-link {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px; /* Add spacing between buttons */
  cursor: pointer;
}

.register-link:hover {
  background-color: var(--secondary-color);
}

.back-button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.back-button:hover {
  background-color: var(--secondary-color);
}
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button:focus {
  outline: none;
}
.profile-button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: var(--nav-bar-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
