@model MvcApp.ViewModels.CreateCourseViewModel

<h1 class="page-title">Add a new course</h1>
<section class="form-container">
    <h4>Course somethingsomething</h4>
    <form class="form" asp-action="Create" method="post">
        <div class="form-control">
            <label asp-for="@Model!.CourseNumber"></label>
            <input asp-for="@Model!.CourseNumber"/>
        </div>
        <div class="form-control">
            <label asp-for="@Model!.Name"></label>
            <input asp-for="@Model!.Name"/>
        </div>
        <div class="form-control">
            <label asp-for="@Model!.Duration"></label>
            <input asp-for="@Model!.Duration"/>
        </div>
        <div class="form-control">
            <label asp-for="@Model!.Description"></label>
            <input asp-for="@Model!.Description"/>
        </div>
        <div class="form-control">
            <label asp-for="@Model!.Details"></label>
            <textarea asp-for="@Model!.Description"></textarea>
        </div>
         <button type="submit" class="btn">Save</button>
    </form>
</section>